/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  top: 64px;
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: #2f80ed;
}
