.grid {
  border: 2px dashed red;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 0;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.header-absolute-element-left {
  position: absolute;
  z-index: 3;
  left: 64px;
}

.header-absolute-element-right {
  position: absolute;
  right: 0;
}

.logo {
  top: 30px;
  left: 64px;
  /* background-image: url('../images/logo_place_header.svg'); */
}

.header__logo_place_header {
  position: absolute;
  z-index: 3;
}

.header__title {
  margin: 0;
  /* position: absolute;
  z-index: 3; */
  /* left: 64px; */
  font-size: 102px;
  line-height: 96px;
  width: 730px;
}

.header__subtitle {
  width: 388px;
  /* position: absolute;
  z-index: 3; */
  /* left: 64px; */
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
}

.header__link {
  text-decoration: none;
}

.header__main-illustration {
  /* position: absolute;
  right: 0; */
  width: 765px;
  height: 608px;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  /* position: absolute;
  right: 0; */
  top: 64px;
  z-index: 1;
  background-color: #2f80ed;

}
.description {
  display: flex;
  margin-top: 100px;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  min-width: 784px;
  min-height: 0;
  /* flex-direction: row; */
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:not(:first-of-type) {
  margin-top: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.section-title {
  width: 60%;
  /* margin: auto; */
  line-height: 1.15;
  font-size: 60px;
  text-align: center;
  margin: 0;
}


.section-subtitle {
  margin: 20px 0 0;
  line-height: 34px;
  font-size: 24px;
  width: 60%;
  /* margin: auto; */
  text-align: center;
  font-weight: normal;
}

.table {
  margin: 0;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
